<nav class="navbar header-navbar pcoded-header iscollapsed" header-theme="theme1" pcoded-header-position="relative">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <!-- <a class="mobile-menu waves-effect waves-light" id="mobile-collapse"  href="javascript:" (click)="toggleOpened($event)" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutsideSidebar($event)"> -->

            <a href="index.html">
                <img class="img-fluid" src="../../../../../../assets/assets/logo-without-title.png" alt="Theme-Logo" />
            </a>
            <a href="javascript:" class="mobile-options waves-effect waves-light" mdbRippleRadius (click)="clickMenu()">
                <i class="feather icon-more-horizontal"  > </i>
            </a>
            <div class="responsiveMenu" [ngClass]="{'move__menu' : disp}" ></div>
        </div>
        <div class="navbar-container container-fluid">

            <ul class="nav-right">

                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown" (click)="toggleOpenedSidebar()" width-170>
                            <img src="../../../../../../assets/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                            <span>John Doe</span>
                            <i class="feather icon-chevron-down"></i>
                        </div>
                        <div class="littleMenuList " [ngStyle]="{'display': displaying}">
                            <div class="menuList">
                                <div padding-right-10>
                                    <i font-size-13 class="feather icon-user"></i>
                                    <span font-size-13>{{'viewProfile' | translate}}</span>
                                </div>
                                <div (click)="clickLogOut()" padding-right-10 >
                                    <i font-size-13 class="feather icon-log-out"></i>
                                    <span font-size-13>{{'logOut' | translate}}</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </li>
                <li style="line-height: 0px">
                    <div class="translation">
                        <div class="translation_block" (click)="clickToChangeLanguage()">
                            <div class="flag">
                                <div class="img" [ngStyle]="{'background-image':'url('+ currentLanguage.flag +')'}"></div>
                            </div>
                            <div class="language">
                                <span style="text-align: center">{{currentLanguage.title}}</span>
                            </div>
                            <div class="arrow_icon">
                                <i class="feather icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="translation_list" *ngIf="changeLng">
                            <div class="translation_block" *ngFor="let itm of languages" (click)="changeLanguage(itm)">
                                <div class="flag">
                                    <div class="img" [ngStyle]="{'background-image':'url('+ itm.flag +')'}"></div>
                                </div>
                                <div class="language">
                                    <span style="text-align: center">{{itm.title}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>