:host ::ng-deep .header-navbar {
    background: #3386afa1 !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.translation{
    width: 140px;
    position: relative;
    .translation_block{
        display: flex;
        width: 100%;
        height: 50px;
        .flag{
            width: 20%;
            height: 100%;
            display: flex;
            .img{
                height: 25%;
                margin: auto;
                width: 70%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
       
        }
        .language{
            width: 55%;
            height: 100%;
            display: flex;
            span{
                margin: auto;
                color: white
            }
        }
        .arrow_icon{
            width: 10%;
            display: flex;
            height: 100%;
            .icon-chevron-down{
               margin: auto;
               margin-top: 22px;
               color: white;
               font-size: 10px
            }
        }
    }
    .translation_block:hover{
        cursor: pointer
    }
    .translation_list{
        position: absolute;
        height: fit-content;
        width: 85%; 
        top: 60px;
        background: white;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);   
        .translation_block{
            display: flex;
            width: 100%;
            height: 40px;
          
            .flag{
                width: 30%;
                height: 100%;
                display: flex;
                .img{
                    height: 35%;
                    margin: auto;
                    width: 55%;
                    background-position: center;
                    border: 1px solid rgb(190, 190, 190);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
           
            }
            .language{
                width: 55%;
                height: 100%;
                display: flex;
                span{
                    margin: auto;
                    color: #676767;
                    font-size: 13px;
                }
            }
        }

    }
}
.img-fluid{
    height: 65px;
    width: 65px
}
.img-radius{
    width: 30px !important;
}
.header-navbar {
    min-height: 70px;
    padding: 0;
}
.header-navbar .navbar-wrapper .navbar-container .nav-left li, .header-navbar .navbar-wrapper .navbar-container .nav-right li {
    padding: 10px 5px;
}
.header-navbar .navbar-wrapper .navbar-logo {
    height: 70px;

}

.dropdown{
    position: relative;
    .littleMenuList{
            position: absolute;
            top:60px;
            width: fit-content;
            height: fit-content;
            background: white;
            box-shadow: 0 1px 2px rgba(0,0,0,0.3);  
            .menuList{
                display: block;
                i{
                    font-size: 13px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }

    }
}

// #menu
// {

//   display: block;
//   width: 180px;
//   height: 400px;
//   box-shadow: 0 0 10px #85888C;
//   margin: -50px 0 0 -50px;
//   padding: 50px;
//   padding-top: 125px;
//   background-color: red;
//   -webkit-font-smoothing: antialiased;
//   transform-origin: 0% 0%;
//   transform: translate(-100%, 0);
//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
// }

.responsiveMenu{
    &.move__menu{
        -webkit-transform: translate(-100%, 0);
    transform: translate (-100%, 0);
    }
    height: 80px;
    width: 100%;
    background: #3386afa1;
    /* box-shadow: 0 0 10px #85888C; */
    position: absolute;
    top: 70px;
    right: -100%;
    -webkit-transform: translate(0%, 0);
    transform: translate (0%, 0);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@media only screen and (min-width: 992px) and (max-width: 1920px) {
    .responsiveMenu{
     display: none
    }
   
}
