<div class="tab">
    <div class="tab_container"  [ngStyle] = "{'transform' : forAnimation ? 'scale(1)' : 'scale(0.9)', 'opacity' : forAnimation ? '1' : '0' }">
        <ul class="nav nav-tabs md-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#standart" role="tab">{{'current' | translate}}</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#comfort" role="tab">{{'planned' | translate}} </a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#miniven" role="tab">{{'history' | translate}}</a>
                <div class="slide"></div>
            </li>

        </ul>

        <div class="tab-content card-block">
            <div class="tab-pane active" id="standart" role="tabpanel">
                <data-table [queryParams]="{ idOfCorporation: corporationId}" [scheduled] = "'current'" [isScheduled] = "0"></data-table>
            </div>
            <div class="tab-pane" id="comfort" role="tabpanel" >
                <data-table [queryParams]="{ idOfCorporation: corporationId}" [scheduled] = "'planned'" [isScheduled] = "1"></data-table>
             

            </div>
            <div class="tab-pane" id="miniven" role="tabpanel">
                    <data-table [queryParams]="{ idOfCorporation: corporationId}" [scheduled] = "'history'"  [isScheduled] = "2"></data-table>
             
            </div>

        </div>
    </div>
</div>
