<div class="dt-responsive table-responsive" style="padding: 40px 15px;">

    <div id="search-api_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row" style="display: flex;justify-content: space-between">
            <div >
                <div class="filtrBar">

                    <div class="calendar">
                        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="rangeDates" (ngModelChange)="filter()" selectionMode="range" readonlyInput="true"
                            placeholder="{{'filter' | translate}}"></p-calendar>
                        <div class="deleteDate" (click)="deleteDate()" *ngIf="forFilterData">
                            <i class="feather icon-x-square"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div >
                <form [formGroup]="searchForm">
                    <input type="search" class=" input-sm inputSearch" placeholder="{{'search' | translate}}" formControlName="searching">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <table id="search-api" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="search-api_info">
                    <thead>
                        <tr role="row">

                            <th class="sorting_desc" aria-controls="search-api" aria-sort="descending" >{{'name' | translate}}</th>
                            <th class="sorting"  aria-controls="search-api"  >{{'contact' | translate}}</th>
                            <th class="sorting"  aria-controls="search-api" >{{'number' | translate}}</th>
                            <th class="sorting"  aria-controls="search-api" >{{'cost' | translate}}</th>
                            <th class="sorting"  aria-controls="search-api" >{{'date' | translate}}</th>
                            <th aria-controls="search-api" >{{'from' | translate}}</th>
                            <th aria-controls="search-api" >{{'to' | translate}}</th>
                            <th aria-controls="search-api" >{{'description' |translate}}</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr role="row" class="even" *ngFor="let item of tableOfOrders">

                            <td class="">{{item.name}}</td>
                            <td class="sorting_1">{{item.contact}}</td>
                            <td>{{item.getNumber()}}</td>
                            <td>{{item.getCost()}}</td>
                            <td>{{item.getDeliverytime()}}</td>
                            <td>{{item.getDeliverystr()}}</td>
                            <td>{{item.getDestinationstr()}}</td>
                            <td>{{item.getDescription()}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div width-percent-95>
            <app-paginator [pageLength]="limit" [count]="count" (paginate)="paginate($event)"></app-paginator>
        </div>
    </div>
    <div class="downloadTableData" *ngIf="scheduled != 'current'">
        <div class="dataTables_length" id="search-api_length">
            <label style="display: -webkit-box;">{{'show' | translate}}
                <select name="search-api_length" aria-controls="search-api" class="form-control input-sm" width-70>
                    <option value="10">10</option>
                    <option value="25">25</option>
                </select> {{'entries' | translate}}</label>
        </div>
        <div display-block>
            <button class="btn-1" (click)="exportAsXLSX()">
                <i class="feather icon-download"> </i>
                <span>{{'download' | translate}}</span>
            </button>
            <button class="btn-1" margin-top-20 (click)="addNewOrder()">
                <i class="feather icon-plus-square"> </i>
                <span>{{'newOrder' | translate}}</span>
            </button>
        </div>
    </div>
</div>