:host ::ng-deep p-calendar{
    span{
         input:not([type="range"]){
            width: 200px !important;
           
        }
        }
    
}
.deleteDate{
    height: 35px;
    width: 30px;
    display: flex;
    // margin: 8px;
    // background-image: url(../../../../../../../assets/assets/close.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    cursor: pointer;
    i{
        font-size: 24px;
        margin: auto;
        color: #3386afa1;
    }
}
.nav-tabs .slide {
    background: #3386afa1;

}
.card{
    width: 100%
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(96, 125, 139, 0.1);
}
.filtrBar{
    display: block;
    margin-bottom: 25px;
    .calendar{
        display: flex
    }
}

    .btn-1 {
        border: none;
        display: block;
        text-align: center;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        position: relative;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        background-color: #3386afa1;
        padding: 10px 40px;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.20);
      }
      
      .btn-1 span {
        position: relative; 
        z-index: 1;
      }
      
      .btn-1:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: #fff;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: translateX(-100%) translateY(-25%) rotate(0);
        transform: translateX(-100%) translateY(-25%) rotate(0);
      }
      
      .btn-1:hover:after {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(0);
        transform: translateX(-9%) translateY(-25%) rotate(0);
      }
      
      .btn-1:hover{
        span{
            color: #3386afa1
        }
        
      }
      .btn-1  i{
            font-size: 15px;
            margin-right: 10px;
            position: relative; 
            z-index: 1;
            font-weight: bold;
          }
      

      .btn-1:hover{
        i{
            color: #3386afa1
        }
        
      }

    .inputSearch{
        font-size: 14px;
        color: #333333;
        background: #ffffff;
        padding: 0.429em;
        border: 1px solid #a6a6a6;
        transition: border-color 0.2s;
        -webkit-appearance: none;
        margin-top: 0px;
        width: 200px !important;
        border-radius: 3px;
      }
      .table-responsive {
     
        overflow-x: inherit;
    }

    .downloadTableData{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    select.form-control:not([size]):not([multiple]) {
        height: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px 8px;
    }