<div class="editEmployee">
    <h3 text-align-center>Edit employee's data</h3>
    <form class="form-material" [formGroup]="editClientForm">
        <div class="form-group form-default">
            <mat-form-field width-percent-100>
                <input type="text" matInput formControlName="name" placeholder="Name">
              </mat-form-field>
        </div>
        <div class="form-group form-default">
            <mat-form-field width-percent-100>
                <input type="text" matInput formControlName="phoneNum" placeholder="Phone number">
              </mat-form-field>
        </div>
        <loading [loading] = "loading"></loading>
        <div class="button">
            <button class="btn btn-out-dashed waves-effect waves-light btn-primary btn-square" [disabled]="editClientForm.invalid" (click)="editEmployee()">Edit</button>
        </div>
    </form>
   
  

</div>