.editEmployee{
    padding: 10px;
    h3{
        color: #3386afa1;
        margin-bottom: 30px !important;
    }
    .button{
        display: flex;
        margin-top: 30px;
        button{
            cursor: pointer;
            width: 70%;
            margin: auto;
            background: #3386afa1;
        }
        
    }
}