:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #3386afa1;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #aaafb180;
}

.btn-primary {
    background-color: #3386afa1;
    border-color: #3386af24;
    
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #3386afa1;
 
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #d2d8da;
}
:host ::ng-deep.mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: #d2d8da;
}
.btn{
    padding: 4px 0px;

}