<form action="" [formGroup]="tipForm">

<div display-flex style="justify-content: space-between">
    <div style="margin-bottom: 0" *ngIf="percent" width-percent-20 display-flex>
        <mat-form-field width-percent-100>
            <input OnlyNumber="true" matInput formControlName="percent" placeholder="{{'percent' | translate}}" />
        </mat-form-field>
        <div display-flex>
            <span margin-auto>%</span>
        </div>
    </div>
    <div  style="margin-bottom: 0"  width-percent-20 *ngIf="amount" display-flex>
        <mat-form-field width-percent-100>
            <input OnlyNumber="true" matInput formControlName="amount" placeholder="{{'amount' | translate}}" />

        </mat-form-field>
        <div display-flex>
            <span margin-auto>{{'dram' | translate}}</span>
        </div>
    </div>
    <div display-flex >
        <div padding-0-15 margin-auto>
            <span>{{'amount' | translate}}</span>
        </div>
        <mat-slide-toggle margin-auto class="example-margin pointer-all"  formControlName="active" (change)="onChange($event)" [disabled]="disabled"></mat-slide-toggle>
        <div padding-0-15 margin-auto>
            <span>{{'percent' | translate}}</span>
        </div>

    </div>
</div>
<div display-flex width-percent-100>
        <input   type="submit" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20"
           mdbRippleRadius value="{{'save' | translate}}"  margin-auto (click) = "clickSave()" >
      </div>


</form>