<div *ngIf="isShow">
    <header></header>
    <div style="display: flex">
        <menu style="padding: 0px;margin-top: 0px"></menu>
        <div style="margin-left: 350px;;width: 100%;background: white">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>