body {
  background: none !important;
  background-color: white !important;
}

#rocket-services-mobile {
  background: url("assets/images/images-rocket-am/mobile1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-services-cars {
  background: url("assets/images/images-rocket-am/cars1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-services-business {
  background: url("assets/images/images-rocket-am/business1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-services-map {
  background: url("assets/images/images-rocket-am/map.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-clients-tariffs {
  background: url("assets/images/images-rocket-am/map.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-clients-tariffs {
  background: url("assets/images/images-rocket-am/coins1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-clients-airport {
  background: url("assets/images/images-rocket-am/airport1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-clients-business {
  background: url("assets/images/images-rocket-am/business1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#for-drivers-rocket1 {
  background: url("assets/images/images-rocket-am/rocket1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#for-drivers-locations1 {
  background: url("assets/images/images-rocket-am/locations1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#for-drivers-schedule1 {
  background: url("assets/images/images-rocket-am/schedule1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#for-business-businessaccount1 {
  background: url("assets/images/images-rocket-am/businessaccount1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#for-business-businessuser1 {
  background: url("assets/images/images-rocket-am/businessuser1.png");
  height: 148px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-logo div:first-child {
  background: url("assets/images/images-rocket-am/logo.png");
  height: 60px !important;
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#rocket-logo div:last-child {
  font-weight: bold;
  color: #F4822A;
}

#rocket-logo div:last-child span {
  font-weight: bold;
  color: white;
}

.get-icon .phone {
  color: #F4822A !important;
}

.orange {
  color: #F4822A !important;
}

#services[_ngcontent-c1] .row[_ngcontent-c1] > div[_ngcontent-c1]:last-of-type {
  background: none !important;
}

/*
	6. for-drivers Block
*/
#for-drivers {
  padding: 16px 0 100px;
  background-color: #F5F5F5;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#for-drivers h2,
#for-drivers h4 {
  text-align: center;
}

#for-drivers h2 {
  margin-bottom: 30px !important;
}

@media (max-width: 991px) {
  #for-drivers {
    padding: 16px 0 50px;
    background-image: none !important;
  }
  #for-drivers h2 {
    color: #1F1F1F;
  }
}

#for-drivers .item {
  background: #fff;
  text-align: center;
  padding: 10px 30px 20px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  position: relative;
  transition: all .3s ease;
}

@media (max-width: 991px) {
  #for-drivers .item {
    margin-bottom: 30px;
  }
}

#for-drivers .item:hover {
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
}

#for-drivers .item .image {
  height: 170px;
  line-height: 170px;
}

#for-drivers .item h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0px 0 20px;
  text-align: center;
}

#for-drivers .item .price {
  font-weight: 700;
  font-size: 38px;
}

#for-drivers .item .price span {
  font-size: 24px;
}

#for-drivers .item.vip {
  border: 2px solid #FFC61A;
}

#for-drivers .item.vip:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  content: "\f005";
  position: absolute;
  text-align: right;
  padding: 7px 7px 0 0;
  top: 0;
  right: 0;
  display: block;
  width: 55px;
  height: 55px;
  z-index: 5;
  font-size: 18px;
}

#for-drivers .item.vip:after {
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 55px 55px 0;
  border-color: transparent #FFC61A transparent;
}

#for-drivers.bg-white {
  background: #fff;
}

#for-drivers.bg-white h2 {
  text-align: left;
}

#for-drivers.bg-white .item {
  border: 1px solid #CCCCCC;
}
/*
	6. for-clients Block
*/
#for-clients {
  padding: 16px 0 100px;
  background-color: #F5F5F5;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#for-clients h2,
#for-clients h4 {
  text-align: center;
}

#for-clients h2 {
  margin-bottom: 30px !important;
}

@media (max-width: 991px) {
  #for-clients {
    padding: 16px 0 50px;
    background-image: none !important;
  }
  #for-clients h2 {
    color: #1F1F1F;
  }
}

#for-clients .item {
  background: #fff;
  text-align: center;
  padding: 10px 30px 20px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  position: relative;
  transition: all .3s ease;
}

@media (max-width: 991px) {
  #for-clients .item {
    margin-bottom: 30px;
  }
}

#for-clients .item:hover {
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
}

#for-clients .item .image {
  height: 170px;
  line-height: 170px;
}

#for-clients .item h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0px 0 20px;
  text-align: center;
}

#for-clients .item .price {
  font-weight: 700;
  font-size: 38px;
}

#for-clients .item .price span {
  font-size: 24px;
}

#for-clients .item.vip {
  border: 2px solid #FFC61A;
}

#for-clients .item.vip:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  content: "\f005";
  position: absolute;
  text-align: right;
  padding: 7px 7px 0 0;
  top: 0;
  right: 0;
  display: block;
  width: 55px;
  height: 55px;
  z-index: 5;
  font-size: 18px;
}

#for-clients .item.vip:after {
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 55px 55px 0;
  border-color: transparent #FFC61A transparent;
}

#for-clients.bg-white {
  background: #fff;
}

#for-clients.bg-white h2 {
  text-align: left;
}

#for-clients.bg-white .item {
  border: 1px solid #CCCCCC;
}

/*
	6. for-business Block
*/
#for-business {
  padding: 16px 0 100px;
  background-color: #F5F5F5;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#for-business h2,
#for-business h4 {
  text-align: center;
}

#for-business h2 {
  margin-bottom: 30px !important;
}

@media (max-width: 991px) {
  #for-business {
    padding: 16px 0 50px;
    background-image: none !important;
  }
  #for-business h2 {
    color: #1F1F1F;
  }
}

#for-business .item {
  background: #fff;
  text-align: center;
  padding: 10px 30px 20px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  position: relative;
  transition: all .3s ease;
}

@media (max-width: 991px) {
  #for-business .item {
    margin-bottom: 30px;
  }
}

#for-business .item:hover {
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
}

#for-business .item .image {
  height: 170px;
  line-height: 170px;
}

#for-business .item h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0px 0 20px;
  text-align: center;
}

#for-business .item .price {
  font-weight: 700;
  font-size: 38px;
}

#for-business .item .price span {
  font-size: 24px;
}

#for-business .item.vip {
  border: 2px solid #FFC61A;
}

#for-business .item.vip:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  content: "\f005";
  position: absolute;
  text-align: right;
  padding: 7px 7px 0 0;
  top: 0;
  right: 0;
  display: block;
  width: 55px;
  height: 55px;
  z-index: 5;
  font-size: 18px;
}

#for-business .item.vip:after {
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 55px 55px 0;
  border-color: transparent #FFC61A transparent;
}

#for-business.bg-white {
  background: #fff;
}

#for-business.bg-white h2 {
  text-align: left;
}

#for-business.bg-white .item {
  border: 1px solid #CCCCCC;
}

#download, #homepage-block-1 {
  background-image: url("assets/images/hexagons.jpeg");
}

#download .mob .android {
  background: url("assets/images/_app-google.png");
  height: 50px !important;
  width: 150px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#download .mob .apple {
  background: url("assets/images/_app-apple.png");
  height: 50px !important;
  width: 150px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
