<section class="landing-block">
  <div id="homepage-block-1" class="bgMove">
    <div class="nav-wrapper" id="nav-wrapper">
      <nav class="navbar navbar-static">
        <div class="container">
          <a class="logo" [routerLink]="['/']" fragment="landing-block">
            <div id="rocket-logo">
              <div></div>
              <div>Rocket<span>.Taxi</span></div>
            </div>
          </a>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <button type="button" class="navbar-toggle collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
            <ul class="nav navbar-nav">
              <li><a [routerLink]="['/']" fragment="landing-block">Rocket.Taxi</a></li>
              <li><a [routerLink]="['/']" fragment="for-clients">Для пользователей</a></li>
              <li><a [routerLink]="['/']" fragment="for-drivers">Для водителей</a></li>
              <li><a [routerLink]="['/']" fragment="for-business">Для бизнеса</a></li>
              <li><a (click)="clickLogin()" style="cursor: pointer;">Вход</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container content">
      <div class="get-icon">
        <h4>Куда угодно с Rocket!</h4>
        <div class="phone">Быстро, Надежно, Безопасно</div>
      </div>
    </div>
  </div>
  <section id="services">
    <div class="container">
      <h4 class="orange">Добро пожаловать!</h4>
      <h2 class="h1">Наши Приимущества</h2>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="rocket-services-mobile"></div>
          <h5>Заказать легко</h5>
          <p>Всего два касания в нашем мобильном приложении и автомобиль уже на месте. Ваше месторасположение
            определяется автоматически, а при желании можно воспользоваться удобным интерфейсом карты.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="rocket-services-map"></div>
          <h5>Планируйте поездку</h5>
          <p>Планирование поездок никогда не было столь простым! Благодаря возможности оставлять несколько предзаказов
            одновременно и отслеживать месторасположение автомобилей на карте, Вы можете быть уверены, что каждая машина
            будет в указанном месте вовремя.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="rocket-services-cars"></div>
          <h5>Подходящий автомобиль</h5>
          <p>Путешествуете ли Вы с семьей, по работе или просто хотите расслабиться - мы поддержим Вас в любой ситуации,
            предложив автомобиль, подходящий для Ваших нужд.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="rocket-services-business"></div>
          <h5>Rocket для бизнеса</h5>
          <p>Корпоративный пакет позволяет Вашим сотрудникам и партнерам пользоваться деловыми поездками в удобное для
            них время, не беспокоясь об оплате. Вам будут предоставлены детальные отчеты о маршрутах и стоимости всех
            поездок, а финансовый расчет может быть произведен в безналичном виде.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="for-clients">
    <div class="container">
      <h4 class="orange">Самый надежный способ отправиться в путь</h4>
      <h2 class="h1">Никаких опозданий, без исключений</h2>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="rocket-clients-tariffs"></div>
          <h5>Гибкие тарифы на все случаи</h5>
          <p>Едите ли Вы загород, в междугороднее путешествие или это короткая поездка по району - наша система гибких
            тарифов обеспечивает самые выгодные условия в каждом городе вне зависимости от типа автомобиля.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="rocket-clients-airport"></div>
          <h5>Поездка в аэропорт - это не дорого</h5>
          <p>Для поездок в аэропорт мы предлагаем специализированные автомобили с просторными салонами и вместительными
            багажниками, а для встречи и провожания гостей доступна услуга "Трансфер из аэропорта".</p>
        </div>
        <div class="col-md-4 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="rocket-clients-business"></div>
          <h5>Деловые поездки</h5>
          <p>Наша интегрированная система управления заказами предоставляет доступ к полной истории заказов, позволяя
            корпоративным клиентам вести учет маршрутов и расходов сотрудников, а также эффективно управлять большим
            набором заказов.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="download">
    <div class="container">
      <h4 class="orange">Мобильное приложение</h4>
      <h2 class="h1">Для пользователей</h2>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="items row">
            <div class="col-md-2 visible-md visible-lg"><span class="num">01.</span></div>
            <div class="col-md-10">
              <h5 class="">Любимые адреса и поездки в одно касание</h5>
              <p></p>
            </div>
            <div class="col-md-2 visible-md visible-lg"><span class="num">02.</span></div>
            <div class="col-md-10">
              <h5 class="">Мы прислушиваемся к Вашему мнению</h5>
              <p></p>
            </div>
            <div class="col-md-2 visible-md visible-lg"><span class="num">03.</span></div>
            <div class="col-md-10">
              <h5 class="">Поездка в аэропорт - это не дорого</h5>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-push-4 col-sm-12">
          <div class="items items-right row">
            <div class="col-md-10">
              <h5 class="">Только опытные водители</h5>
              <p></p>
            </div>
            <div class="col-md-2 visible-md visible-lg"><span class="num">04.</span></div>
            <div class="col-md-10">
              <h5 class="">Гибкие тарифы на все случаи</h5>
              <p></p>
            </div>
            <div class="col-md-2 visible-md visible-lg"><span class="num">05.</span></div>
            <div class="col-md-10">
              <h5 class="">Деловые поездки</h5>
              <p></p>
            </div>
            <div class="col-md-2 visible-md visible-lg"><span class="num">06.</span></div>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-4 col-sm-12">
          <div class="mob">
            <a href="#">
              <div class="android"></div>
            </a>
            <a href="#">
              <div class="apple"></div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="for-drivers">
    <div class="container">
      <h4 class="orange"> Быть партнером Rocket выгодно!</h4>
      <h2 class="h1">Новый взгляд на работу</h2>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="for-drivers-rocket1"></div>
          <h5>Зарабатывать просто </h5>
          <p>У нас всегда много заказов. Вам не придется тратить время на поиски клиентов - заказы поступают
            автоматически, а Вам лишь остается решить, сколько Вы хотите зарабатывать.

          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="for-drivers-schedule1"></div>
          <h5>Гибкий график работы </h5>
          <p>Вы распределяете свое время по собственному желанию. Когда Вы готовы - запустите мобильное приложение и
            начните получать заказы. Гибкий график - это уникальная возможность совмещать работу, личную жизнь и
            хобби.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="for-drivers-locations1"></div>
          <h5>Найти необходимое место - легко! </h5>
          <p>Кружить по району в поиске нужного адреса, зря потраченное время, недовольные клиенты - все это в прошлом!
            Наше мобильное приложение предложит самый оптимальный маршрут к пункту назначения на карте.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="car-block">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="h4 orange">Отправляйтесь в путь!</h4>
          <h2 class="h3" style="padding-top: 15px;">Начать очень просто</h2>
          <ul class="check">
            <li><strong>Предоставьте некоторые документы</strong>
              <p>Стать партнером-водителем Rocket можно в несколько простых шагов.Прежде всего необходимо обратиться в
                наш головной офис, и мы предоставим Вам перечень необходимых
                документов.
              </p></li>
            <li><strong>Ознакомьтесь с нашей Политикой</strong>
              <p>После проверки документов мы пригласим Вас в наш офис для ознакомления с Вашими навыками, а мы в свою
                очередь познакомим Вас с культурой и Политикой нашей компании.</p></li>
            <li><strong>Установите приложение и начните зарабатывать</strong>
              <p>Как только Ваша кандидатура будет одобрена мы пригласим Вас подписать договор. После прохождения
                ознакомительного тренинга Вы можете приступать к работе!</p></li>
          </ul>
          <a href="#" class="btn btn-yellow btn-lg btn-white">Скачать приложение</a>
        </div>
        <div class="col-md-6">
          <h4 class="h4 orange">Мобильное приложение</h4>
          <h2 class="h3" style="padding-top: 15px;">Для водителей</h2>
          <ul class="check">
            <li><strong>Все, что Вам нужно в одном приложении</strong>
              <p>Мы создали универсальный инструмент, чтобы Вам было проще работать. Вся необходимая информация
                находится в одном приложении. Запустите его и начинайте зарабатывать!
              </p></li>
            <li><strong>Ваш автомобиль - это путь к заработку</strong>
              <p>Какого класса бы ни был Ваш автомобиль - экономичная малолитражка, представительский или грузовой
                автомобиль - мы поможем раскрыть весь потенциал Вашего транспортного средства, при этом обеспечив Вам
                максимальный доход.</p></li>
            <li><strong>Круглосуточная служба поддержки</strong>
              <p>Служба поддержки работает круглосуточно и всегда готова помочь как начинающим, так и опытным водителям
                в любой ситуации, будь то вопрос, связанный с пассажирами или техническая неисправность. </p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="for-business">
    <div class="container">
      <h4 class="orange"> Мы предоставляем вам</h4>
      <h2 class="h3">САМУЮ УДОБНУЮ И МНОГОФУНКЦИОНАЛЬНУЮ ПЛАТФОРМУ КОМПЛЕКСНОГО ТРАНСПОРТНОГО ОБСЛУЖИВАНИЯ НА РЫНКЕ</h2>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="for-business-businessuser1"></div>
          <h5>Наилучшее качество обслуживания</h5>
          <p>Мы готовы поддержать Ваш имидж и корпоративную культуру и предлагаем только квалифицированных водителей и
            широкий выбор автомобилей, удовлетворяющих любые нужды. Деловые встречи, командировки, аэропортный трансфер
            или перевоз оборудования - Вы всегда гарантированно получаете одинаково высокий уровень сервиса.
          </p>
        </div>
        <div class="col-md-6 col-sm-6 col-ms-6 matchHeight">
          <div class="image" id="for-business-businessaccount1"></div>
          <h5>Разделяйте личные и деловые поездки</h5>
          <p>Ваши сотрудники имеют возможность воспользоваться как корпоративным пакетом, так и пользоваться нашими
            услугами в личных целях в нерабочее время. После каждой поездки будет предложено выбрать тип поездки и
            оплатить личные путешествия.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="h4 orange">Rocket Business</h4>
          <h2 class="h3" style="padding-top: 15px;">Rocket Business - это платформа, призванная экономить время наших
            клиентов, при этом облегчая финансовый учет и аудит</h2>
          <ul class="check">
            <li><strong>Управляйте поездками эффективно</strong>
              <p>Rocket Buiness - это не только возможность оперативного управления заказами компании. Войдя в личный
                кабинет, Вы получаете доступ к полной истории и инструментарию, необходимому для эффективного ведения
                учета всех маршрутов и расходов каждого сотрудника.
              </p></li>
            <li><strong>Для сотрудников</strong>
              <p>Доверив нам транспортное обслуживание своей компании, Вы навсегда забудете о проблемах с заказом машин.
                Ваши сотрудники и партнеры могут пользоваться корпоративным транспортом в удобное для них время. Им
                также не придется беспокоиться об оплате - деловая поездка автоматически будет записана на счет
                компании.</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="block-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-ms-6">
          <h4 class="orange">О нас</h4>
          <p>Мы создали универсальное приложение, чтобы Вам было проще работать. Благодаря интуитивному интерфейсу Вам
            будут доступны все инструменты для успешной работы всего в два клика. Просто запустите приложение и
            начинайте работу!</p>
        </div>
        <div class="col-lg-5 col-md-5 hidden-md hidden-sm hidden-xs hidden-ms">
          <h4 class="orange">Политика конфиденциальности</h4>
          <div class="row">
            <div class="col-md-12">
              <ul class="nav navbar-nav">
                <li><a href="#">Для водителей</a></li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
          <h4 class="orange">Обратная связь</h4>
          <p><span class="orange">Address:</span> Адрес</p>

          <ul class="address">
            <li><span class="fa fa-phone orange"></span>Номер телефона</li>
            <li><span class="fa fa-envelope orange"></span><a href="#">Эл. почта</a></li>
            <!--<li><span class="fa fa-skype"></span>gettaxipark</li>-->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <span class="orange">Rocket</span><span class="white">.Taxi</span> 2017 © Все права защишены
    </div>
  </footer>
</section>
