.login-block {
  margin: 0 auto !important;
}

input, button {
  outline: none !important;
  border: none !important;
}

input:focus, button:focus {
  outline: none !important;
  border: none !important;
}

.centered {
  display: flex;
  justify-content: center;
}
