<section class="login-block">
  <div id="homepage-block-1" class="bgMove">
    <div class="nav-wrapper" id="nav-wrapper">
      <nav class="navbar navbar-static">
        <div class="container">
          <a class="logo" [routerLink]="['/']" fragment="landing-block">
            <div id="rocket-logo">
              <div></div>
              <div>Rocket<span>.Taxi</span></div>
            </div>
          </a>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <button type="button" class="navbar-toggle collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
            <ul class="nav navbar-nav">
              <li><a [routerLink]="['/']" fragment="landing-block">Rocket.Taxi</a></li>
              <li><a [routerLink]="['/']" fragment="for-clients">Для пользователей</a></li>
              <li><a [routerLink]="['/']" fragment="for-drivers">Для водителей</a></li>
              <li><a [routerLink]="['/']" fragment="for-business">Для бизнеса</a></li>
              <li><a (click)="clickLogin()" style="cursor: pointer;">Вход</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container content">
      <div class="get-icon">
        <h4>Куда угодно с Rocket!</h4>
        <div class="phone">Быстро, Надежно, Безопасно</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <form class="form-material m-t-50" [formGroup]="loginForm">
          <p class="text-danger m-t-20 m-b-20" text-align-center>{{errorMessage}}</p>
          <div class="form-group form-primary">
            <input type="text" name="login" class="form-control" formControlName="login" required="">
            <span class="form-bar"></span>
            <label class="float-label">Логин</label>
          </div>
          <div class="form-group form-primary">
            <input type="password" name="password" class="form-control" formControlName="password" required="">
            <span class="form-bar"></span>
            <label class="float-label">Пароль</label>
          </div>
          <!--<div class="row m-t-25 text-left">-->
          <!--<div class="col-12">-->
          <!--<div class="checkbox-fade fade-in-primary d-">-->
          <!--<label>-->
          <!--<input type="checkbox" value="">-->
          <!--<span class="cr">-->
          <!--<i class="cr-icon fa fa-check txt-primary"></i>-->
          <!--</span>-->
          <!--<span class="text-inverse">Remember me</span>-->
          <!--</label>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="forgot-phone text-right float-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<a [routerLink]="['/forgot']" class="text-right f-w-600">Forgot Password?</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
          <!--</div>-->
          <div class="row m-t-10">
            <div class="col-md-12 centered">
              <button type="button" class="btn btn-yellow btn-lg btn-white" mdbRippleRadius (click)="clickSignIn()">
                Вход
              </button>
            </div>
            <!--<hr/>-->
            <!--<div class="row">-->
            <!--<div class="col-md-10">-->
            <!--<p class="text-inverse text-left m-b-0">Thank you.</p>-->
            <!--<p class="text-inverse text-left">-->
            <!--<a [routerLink]="['/main']">-->
            <!--<b>Back to website</b>-->
            <!--</a>-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
