<div class="new_order_page">
  <div class="mapAndFormLine">
    <div id="yandex_map"></div>
    <div class="place_of_form">
      <div class="formCard">
        <div class="card">
          <div class="card-block">
            <div class="carousel-container">
              <ngx-slick-carousel
                class="carousel"
                #slickModal="slick-carousel"
                [config]="tariffSlideConfig"
                (init)="slickInit($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let tariffSlide of tariffSlides"
                     class="slide">
                  <img src="{{ tariffSlide.img }}" alt="" width="100%">
                  <span class="title">{{tariffSlide.name}}</span>
                </div>
              </ngx-slick-carousel>
            </div>
            <form class="form-material" [formGroup]="orderItemsForm">
              <div class="form-group form-default " margin-auto width-percent-97>
                <div cursor-pointer display-flex padding-5-0 class="whenMargin" (click)="deliveryTimeDialog()"
                     width-percent-20>
                  <div>
                    <i class="material-icons when">access_time</i>
                  </div>
                  <div>
                    <span font-weight-600>{{'when' | translate}}</span>
                  </div>

                </div>
              </div>

              <div class="form-group form-default" margin-auto width-percent-97 display-flex>

                <mat-checkbox (change)="onChange($event)" formControlName="checkboxActive"
                              margin-auto-0>{{'tips' | translate}}
                </mat-checkbox>
                <div *ngIf="hiding" display-flex padding-0-15>
                  <div padding-0-3 display-flex>
                    <mat-form-field>
                      <input matInput formControlName="forEdit">
                    </mat-form-field>
                    <div margin-auto>
                      <span>{{nameOfTipType}}</span>
                    </div>
                  </div>
                  <div padding-0-5 margin-auto>
                    <i class="fa fa-times-circle tipIcons" color-red (click)="clickDeleteTip()"></i>
                  </div>
                </div>
              </div>

              <div class="form-group form-default" margin-auto width-percent-97>
                <div (click)="addMessageToDriverDialog()" cursor-pointer display-flex>
                  <div>
                    <i class="fa fa-envelope" style="font-size: 16px;margin-right: 10px"></i>
                  </div>
                  <div>
                    <span font-weight-600 font-size-15>{{'remarks' | translate}}</span>
                  </div>

                </div>
              </div>
              <div class="form-group form-default" width-percent-100 margin-auto>
                <mat-form-field width-percent-100>
                  <input type="text" matInput formControlName="clientContact" placeholder="{{'contactOfEmployee' | translate}}" autocomplete="off"
                         [matAutocomplete]="autoClientContact">
                  <mat-autocomplete #autoClientContact="matAutocomplete"
                                    (optionSelected)="clientContactSelectedFromAutoComplete($event)">
                    <mat-option *ngFor="let clientAutoCompleteValue of clientAutoCompleteValues"
                                [value]="clientAutoCompleteValue.name">
                      {{ clientAutoCompleteValue.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="form-group form-default" width-percent-100 margin-auto>
                <mat-form-field width-percent-100>
                  <input type="text" matInput formControlName="delivery" placeholder="{{'from' | translate}}" autocomplete="off"
                         [matAutocomplete]="autoDelivery">
                  <mat-autocomplete #autoDelivery="matAutocomplete"
                                    (optionSelected)="addressSelectedFromAutoComplete($event, 'from')">
                    <mat-option *ngFor="let addressesAutoCompleteValue of addressesAutoCompleteValues"
                                [value]="addressesAutoCompleteValue.name">
                      {{ addressesAutoCompleteValue.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="form-group form-default" width-percent-100 margin-auto>
                <mat-form-field width-percent-100>
                  <input type="text" matInput formControlName="destination" placeholder="{{'to' | translate}}" autocomplete="off"
                         [matAutocomplete]="autoDestination">
                  <mat-autocomplete #autoDestination="matAutocomplete"
                                    (optionSelected)="addressSelectedFromAutoComplete($event, 'to')">
                    <mat-option *ngFor="let addressesAutoCompleteValue of addressesAutoCompleteValues"
                                [value]="addressesAutoCompleteValue.name">
                      {{ addressesAutoCompleteValue.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <button class="btn-1" (click)="addOrder()">
                <span> {{'confirm' | translate}}</span>
                <i class="fa fa-long-arrow-right"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
