.new_order_page {
  width: 100%;
  height: 100%;
  padding: 20px;
  .mapAndFormLine {
    width: 100%;
    height: 100%;
    position: relative;
    #yandex_map {
      width: 100%;
      height: 100%;
    }
    .place_of_form {
      position: absolute;
      left: 5px;
      top: 5px;
      z-index: 1000;
      .carousel-container {
        width: 450px;
        .slide {
          padding: 20px;
          span.title {
            font-size: small;
          }
          span.translation {
            font-size: smaller;
          }
        }
        .slick-current {
          img {
            border-bottom: solid #7eb3cc 2px;
          }
        }
        img {
          padding: 10px;
        }
      }
    }
  }
}

.form-group {
  margin-bottom: 1.25em;
}

.btn.btn-out-dashed {
  outline-offset: -6px;
}

.nav-tabs .slide {
  background: #7eb3cc;

}

.img {
  height: 200px;
  width: 100%;
  display: flex;
  position: relative;
  .carImg {
    height: 80%;
    width: 65%;
    margin: auto
  }
  .description_of_car {
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    width: 35%;
    height: 90%;
    padding: 15px 25px;
    bottom: 10%;
    right: 2%;
    span {
      color: white
    }
  }
}

.nav-tabs {
  border-bottom: none
}

.btn-1 {
  border: none;
  cursor: pointer;
  width: 65%;
  margin: auto;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  background-color: #7eb3cc;
  padding: 3px 0px 10px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn-1 span {
  position: relative;
  z-index: 1;
}

.btn-1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-100%) translateY(-25%) rotate(0);
  transform: translateX(-100%) translateY(-25%) rotate(0);
}

.btn-1:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(0);
  transform: translateX(-9%) translateY(-25%) rotate(0);
}

.btn-1:hover {
  span {
    color: #7eb3cc
  }

}

.btn-1 i {
  font-size: 15px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.btn-1:hover {
  i {
    color: #7eb3cc
  }

}

.fa-long-arrow-right {
  margin-left: 1em;
  margin-top: 0.8em;
}

.inputCouple {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.form-group {
  margin-bottom: 0rem
}

.my-toolbar {
  height: 70px;
  border-top: 1px solid #888;
}

.my-indicator {
  height: 3px;
  width: 100%;
  background: #0080ff;
}

sliding-tabs-button {
  background: #fff;
  border-right: 1px solid #aaa;
  height: 67px;
}

sliding-tabs-button:last-child {
  border: none;
}

.button {
  text-align: center;
  padding-top: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

sliding-tabs-button.active {
  background: #0080ff;
}

.groupIconActive {
  height: 50px;
  width: 50px;
  background: red
}

.tariffIcon {
  height: 30px;
  width: 30px;
  background: green
}

:host ::ng-deep .ui-carousel {
  width: 400px;
}

.bannerStyle {
  background-color: #ccc;
  background-size: cover !important;
  height: 100%;
}

.bannerStyle img {
  width: 100%;
  height: 100%;
}

.bannerStyle h1 {
  text-align: center;
  line-height: 400px;
  background: rgba(0, 0, 0, 0.32);
  color: white;
  margin: 0;
}

:host ::ng-deep .ngxcarousel-items {
  white-space: nowrap;
  position: relative;
  height: 200px
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 50px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 50px;
  right: 0;
}

.tariffInfo {
  height: 100%;
  width: 80%;

  margin: auto;
  display: flex;
  .carInfo {
    width: 100%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .carNameAndIcon {
      width: 45%;
      height: 100%;
      display: block;
      .carIcon {
        height: 50%;
        width: 90%;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .carCategoryName {
        height: 50%;
        width: 90%;
        margin: auto;
        p {
          text-align: center;
          font-size: 15px;
        }
      }
    }
    .seatsCountAndArrives {
      width: 45%;
      height: 100%;
      background: #0080ff
    }

  }
}

:host ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #7eb3cc;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #7eb3cc;
}

.tipIcons {
  font-size: 20px;
  margin-top: 4px;
  cursor: pointer
}

:host ::ng-deep .mat-form-field-infix {
  width: 50px;
}

.when {
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-weight: 500
}

.whenMargin {
  margin-left: -3px
}

.delivery_time {
  width: 80%;
  margin: auto;
  border: 1px solid grey;
  padding: 20px
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-weight: 600 !important;
  font-size: 15px
}