<div class="employees">
    <div class="employees_container">
        <div style="width: 100%">
            <div style="display: flex;justify-content: space-between">
                <div class="addNewEmployee">
                    <button class="btn-1" (click)="newEmployeeDialog()">
                        <i class="feather icon-plus-square"> </i>
                        <span>{{'newEmployee' | translate}}</span>
                    </button>

                </div>

                <div id="search-api_filter" class="dataTables_filter">
                    <form [formGroup]="searchForm">
                        <input type="search" class=" input-sm inputSearch" placeholder="{{'search' | translate}}" formControlName="searching">
                    </form>
                </div>

            </div>

            <div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <table id="search-api" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="search-api_info">
                            <thead>
                                <tr role="row">
                                    <th text-align-center [ngClass]="{'sorting_desc': checkSortDescendingByName,'sorting_asc': !checkSortDescendingByName}" aria-sort="descending"
                                        (click)="clickToSortingByName()">{{'name' | translate}}</th>
                                    <th text-align-center >{{'phoneNumber' | translate}}</th>
                                    <th text-align-center *ngIf="from == 0">{{'device' | translate}}</th>
                                    <th text-align-center>{{'edit' | translate}}</th>
                                    <th text-align-center >{{'delete' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" *ngFor="let employee of tableOfClients ">
                                    <td text-align-center class="">{{employee.getName()}}</td>
                                    <td text-align-center class="sorting_1">{{employee.getContact()}}</td>

                                    <td *ngIf="from == 0" text-align-center>
                                        <i *ngIf = "employee.getFrom() == 1" class="fa fa-mobile mobileFace"></i>
                                        <i *ngIf = "employee.getFrom() == 2" class="fa fa-building mobileFace"></i>
                                        <i *ngIf = "employee.getFrom() == 3" class="fa fa-desktop mobileFace"></i>

                                    </td>
                                    <td text-align-center>
                                        <i class="fa fa-cog settings" color-greenblue font-size-18 cursor-pointer (click)="editClient(employee)"></i>
                                    </td>
                                    <td text-align-center>
                                        <i class="fa fa-trash-o deleteIcon" font-size-18 aria-hidden="true" (click)="openConfirmModal(employee.getId())"></i>
                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                </div>
                <div width-percent-95>
                    <app-paginator [pageLength]="limit" [count]="count" (paginate)="paginate($event)"></app-paginator>
                </div>
                <div class="downloadTableData">

                    <button class="btn-1 download" (click) = "exportAsXLSX()">
                        <i class="feather icon-download"> </i>
                        <span>{{'download' | translate}}</span>
                    </button>


                </div>
            </div>
        </div>

    </div>
</div>
<loading-full-screen [loading]="loading"></loading-full-screen>