
.employees{
    width: 100%;
    display: flex;
    

    .employees_container{
        padding: 10px;
        width: 95%;
        margin: auto;
        margin-top: 30px;
      
       

    }
}


table{
    margin-top: 30px !important; 
    margin-bottom: 30px !important;
    border: 1px solid #dee2e6;

 tbody{
     tr{
         background: white;
         
     
     }
     .deleteIcon{
         cursor: pointer;
       
         color: red;
     }
 }
}
.fa-check-square{
    font-size: 20px;
    color: yellowgreen;
}
.fa-times-circle{
    font-size: 22px;
    color: red;
}

.btn-1 {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background-color: #3386afa1;
    padding: 10px 30px;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn-1 span {
    position: relative; 
    z-index: 1;
  }
  
  .btn-1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(0);
    transform: translateX(-100%) translateY(-25%) rotate(0);
  }
  
  .btn-1:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(0);
    transform: translateX(-9%) translateY(-25%) rotate(0);
  }
  
  .btn-1:hover{
    span{
        color: #3386afa1
    }
    
  }
  .btn-1  i{
        font-size: 15px;
        margin-right: 10px;
        position: relative; 
        z-index: 1;
        font-weight: bold;
      }
  

  .btn-1:hover{
    i{
        color: #3386afa1
    }
    
  }

.download{
    float: right
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(96, 125, 139, 0.1);
}

.inputSearch{
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.560em;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    margin-top: 0px;
    width: 200px !important;
    border-radius: 3px;
  }
 
  .mobileFace{
    color: #f48227;
    font-size: 20px;
    font-weight: bold;
  }