<div class="newEmployee">
    <h3 text-align-center>{{'addANewEmployee' | translate}}</h3>
    <form class="form-material" [formGroup]="newEmployeeForm">
        <div class="form-group form-default">
            <mat-form-field width-percent-100>
                <input type="text" matInput formControlName="name" placeholder="{{'name' | translate}}">
              </mat-form-field>
        </div>
        <div class="form-group form-default">
            <mat-form-field width-percent-100>
                <input type="text" matInput formControlName="phoneNum" placeholder="{{'phoneNumber' | translate}}">
              </mat-form-field>
        </div>
        <!-- <div class="form-group form-default">
            <mat-form-field width-percent-100>
                <mat-select placeholder="Types" formControlName="corporation" >
                    <mat-option *ngFor="let corps of corporations" [value]="corps.getId()">{{corps.getTitleshort()}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div class="button">
            <button  [disabled]="!newEmployeeForm.valid" class="btn btn-out-dashed waves-effect waves-light btn-primary btn-square" (click)="addNewEmployee()">{{'create' | translate}}</button>
        </div>
    </form>

   
</div>