.loading{
    background-color:rgba(255,255,255, 0.5);
    position: absolute;
    left:350px;
  
    top:0;
    bottom: 0;
    right: 0;
    display: flex; 
}

:host ::ng-deep mat-spinner{
    margin:auto;
    svg{
        width: 30px !important;
            height: 30px !important;
     circle {
        stroke: grey !important;
    }
}}