:host ::ng-deep .pcoded-hasmenu{
    a:hover{
        background: #f0f0f0 !important;
        color: #666 !important;
    }
   
}


.infoOfOffice{
    display: flex;
    width: 100%;
    height: 150px;
    .list{
        width: 90%;
        height: 85%;
        margin: auto;
        display: flex;
        background: #a0a0a029;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);  
    
    // .logoOfOffice{
    //     width: 26%;
    //     height: 100%;
    //     img{
    //         height: 45px;
    //         width: 45px;
    //         margin: 30px 0px 0px 20px;
    //     }
    // }
    .infoList{
        width: 100%;
        height: 100%;
        display: block;
        padding: 0px 40px;
        .nameOfOffice{
           width: 100%;
           height: fit-content;
           position: relative;
           margin-top: 25px;
           margin-left: 3px;
           margin-bottom: 5px;
           span{
               font-size: 16px;
               font-weight: 700;
               color: #505050;
           }
     

        }
        .currentCount{ 
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            .count{
                width: 65%;
                display: flex;
                .icon{
                    width: 13%;
                    i{
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 6px;
                    }
                }
                .title{
                    width: 87%;
                    span{
                        font-size: 11px
                    }
                }
            }
            .value{
                width: 30%;
                span{
                    font-size: 11.5px;
                    font-weight: bold;
                }
            }

        }
        .keyword{
            width: 100%;
            height: fit-content;
            display: flex;
            margin-left: 2px;
            justify-content: space-between;
            .key{
                width: 65%;
                display: flex;
                .icon{
                    width: 13%;
                    i{
                        font-size: 14px;
                        font-weight: 700;
                        margin-top: 6px;
                    }
                }
                .title{
                    width: 87%;
                    span{
                        font-size: 11px
                    }
                    i{
                        color: #f48227;;
                        margin-left: 25px;
                        font-weight: 700;
                    }
                    i:hover{
                        cursor: pointer
                    }
                }
            }
            .value{
                width: 30%;
                span{
                    font-size: 11.5px;
                    font-weight: bold;
                }
            }
        }
    }
}
}
.infoOfOffice:hover{
    cursor: pointer
}
.officeList{
    display: block;
    width: 90%;
    margin: auto;
    .officeName{
        padding: 10px 25px 5px 25px;
       margin-top: 8px
    }
    .officeName:hover{
        background: #f0f0f0 !important;
        color: #666 !important;
        border-radius: 5px;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2) !important;
        cursor: pointer;
    }
  
    
}

:host ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #7eb3cc;
  }
  
  :host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #7eb3cc;
  }