<div class="pcoded-main-container" style="margin-top: 0px">
    <div class="pcoded-wrapper">
        <nav class="pcoded-navbar" navbar-theme="themelight1" active-item-theme="theme1" sub-item-theme="theme2" active-item-style="style0"
            pcoded-navbar-position="absolute">
            <div class="pcoded-inner-navbar main-menu">
                <form  [formGroup] = "seeAllForm">
                    <div class="form-group form-default" margin-auto width-percent-90 display-flex padding-top-25 >
                        <mat-checkbox (change)="onChange($event)" formControlName="seeAll" margin-auto-0>{{'seeAll' | translate}}
                        </mat-checkbox>
                    </div>
                </form>
                <div class="infoOfOffice" title="Change office " *ngIf= "displaying">
                    <div class="list">
                        <!-- <div class="logoOfOffice">
                            <img class="img-menu-user img-radius" src="../../../../../../assets/assets/images/avatar-4.jpg" alt="User-Profile-Image">
                        </div> -->
                        <div class="infoList">
                            <div class="nameOfOffice">
                                <span>{{nameOfOffice}}</span>
                            </div>
                            <div class="currentCount">
                                <div class="count">
                                    <div class="icon">
                                        <i class="material-icons">
                                            attach_money
                                        </i>
                                    </div>
                                    <div class="title">
                                        <span>{{'currentAccount' | translate}}</span>
                                    </div>
                                </div>
                                <div class="value">
                                    <span>{{value}}</span>
                                </div>
                            </div>
                            <div class="keyword">
                                <div class="key">
                                    <div class="icon">
                                        <i class="material-icons">
                                            vpn_key
                                        </i>
                                    </div>
                                    <div class="title">
                                        <span>{{'keyword' | translate}}</span>
                                        <i class="feather icon-refresh-cw" (click)="clickToRegenerateKeyword()" title="Regenerate keyword"></i>
                                    </div>
                                </div>
                                <div class="value">
                                    <span>{{keyWord}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="otherOffices"  *ngIf= "displaying">
                    <div class="officeList" [routerLink]="[]" [queryParams]="{ idOfCorporation: numberOfCorporation}">
                        <div class="officeName" *ngFor="let off of corporationList; let ind = index" (click)="chooseOffice(off)" [ngStyle]="officeItem(off)">
                            <a href="javascript:void(0)" class="waves-effect waves-dark ">
                                <span>{{off.getTitleshort()}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 20px">
                    <ul class="pcoded-item pcoded-left-item">
                        <li class="pcoded-hasmenu" [routerLink]="item.routerLink" [queryParamsHandling]="'merge'" routerLinkActive="active" *ngFor="let item of menuItemsService.getMenuItems()">
                            <a href="javascript:void(0)" class="waves-effect waves-dark myClass">
                                <span class="pcoded-micon">
                                    <i [ngClass]="item.icon" [style.color]="item.color"></i>
                                </span>
                                <span class="pcoded-mtext">{{item.key | translate}}</span>
                            </a>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>