.inputCouple{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-primary {
    background-color: #3386afa1;
    border-color: #3386af24;

}
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #3386afa1;

}
.btn{
    padding: 4px 0px;
  
}
