<form action="" [formGroup]="messageToDriverForm">



    <mat-form-field width-percent-100>
        <input type="text" matInput formControlName="entrance" placeholder="{{'entrance' | translate}}" OnlyNumber="true">
    </mat-form-field>

    <mat-form-field width-percent-100>
        <input type="text" matInput formControlName="description" placeholder="{{'message' | translate}}">
    </mat-form-field>

    <div display-flex width-percent-100 margin-top-20>
        <input type="submit" [disabled]="!messageToDriverForm.valid" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20" mdbRippleRadius value="{{'save' | translate}}"
            margin-auto (click) = "clickToSave()">
    </div>

</form>