
.tab{
    width: 100%;
    display: flex;
    .tab_container{
        padding: 15px 30px;
        width: 95%;
        transform: scale(0.9);
        transition: all 200ms;
        opacity: 0;
        margin: auto;
        margin-top: 40px;
        box-shadow: 0 2px 10px -1px rgba(69,90,100,0.3);
        .nav-item{
            a{
                font-weight:600
            }
        }

    }
}

.nav-tabs .slide {
    background: #3386afa1;

}
.card{
    width: 100%
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(96, 125, 139, 0.1);
}
.nav-link{
    .active{
        color: #3386afd6 
    }
}