<div class="tab" >
    <div class="tab_container" [ngStyle] = "{'transform' : forAnimation ? 'scale(1)' : 'scale(0.9)', 'opacity' : forAnimation ? '1' : '0' }">
        <ul class="nav nav-tabs md-tabs" role="tablist">
            <li class="nav-item" >
                <a class="nav-link active" data-toggle="tab" href="#from1" role="tab" >{{'fromMobileApplication' | translate}}</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item" >
                <a class="nav-link" data-toggle="tab" href="#from2" role="tab" >{{'fromCorporateOffice' | translate}} </a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#from3" role="tab" >{{'fromTheMainModule' | translate}}</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#from0" role="tab" >{{'allEmployees' | translate}}</a>
                <div class="slide"></div>
            </li>

        </ul>

        <div class="tab-content card-block">
            <div class="tab-pane active" id="from1" role="tabpanel" >
               
                <employee-table [queryParams]="{ idOfCorporation: corporationId}"  [from] = "1"></employee-table>
            </div>
            <div class="tab-pane" id="from2" role="tabpanel">
                <employee-table [queryParams]="{ idOfCorporation: corporationId}" [from] = "2"></employee-table>
               

            </div>
            <div class="tab-pane" id="from3" role="tabpanel">
                <employee-table [queryParams]="{ idOfCorporation: corporationId}" [from] = "3"></employee-table>
            </div>
            <div class="tab-pane" id="from0" role="tabpanel">
                <employee-table [queryParams]="{ idOfCorporation: corporationId}" [from] = "0"></employee-table>
            </div>

        </div>
    </div>
</div>
