<form [formGroup]="deliveryTimeForm">
    <div display-flex>
        <div display-flex margin-auto>
            <div padding-0-15 margin-auto>
                <span font-weight-600>{{'now' | translate}}</span>
            </div>
            <mat-slide-toggle margin-auto class="example-margin pointer-all" formControlName="active" (change)="onChange($event)" [disabled]="disabled"></mat-slide-toggle>
            <div padding-0-15 margin-auto>
                <span font-weight-600>{{'late' | translate}}</span>
            </div>

        </div>
    </div>
    <div class="time_picker" *ngIf="timeAndDatePickers">
        <div class="24hr-example hours">
            <input placeholder="{{'time' | translate}}" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" readonly formControlName = "onlyTime">
            <ngx-material-timepicker  #fullTime></ngx-material-timepicker>
        </div>
    </div>
    <div *ngIf="!timeAndDatePickers" class="date_time_picker">
        <div width-percent-100 margin-auto padding-0-90>
            <mat-form-field class="example-full-width" >
                <input matInput [matDatepicker]="picker" placeholder="{{'date' | translate}}" (click)="picker.open()" formControlName = "date">
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <div class="24hr-example hourLate" >
                <input placeholder="{{'time' | translate}}" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" readonly formControlName = "time">
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
            </div>
        </div>


    </div>
    <div display-flex width-percent-100>
        <input type="submit"  class="btn btn-primary btn-md btn-block waves-light text-center m-b-20" mdbRippleRadius 
            margin-auto (click) = "clickSave()" value = "{{'save' | translate}}" >
    </div>


</form>