:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #3386afa1;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #d2d8da;
}
:host ::ng-deep.mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: #aaafb1;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #d2d8da;;
}

.time_picker{
    display: flex;
    width: 100%;
    height: 100px;
    .hours{
        margin: auto;
        input{
            border: none;
            border-bottom: 1px solid grey
        }
    }
}

.btn-primary {
        background-color: #3386afa1;
        border-color: #3386af24;
}
.btn-primary:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: #3386afa1;

}
.btn{
    padding: 4px 0px;

}

.date_time_picker{
    display: flex;
    width: 100%;
    height: 150px;
}

.hourLate{
    margin-bottom: 1.25rem;
    input{
        border: none;
        border-bottom: 1px solid grey
    }
}

:host ::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
    display: none;
}
