.paginator {
    margin: 20px auto;
    width: fit-content;
    max-width: 100%;
    flex-wrap: wrap;
    .page {
        cursor: pointer;
        user-select: none;
        margin:auto;    
    }
    .item{
        margin: 0 5px;
        width: 30px;
        height: 30px;
        display: flex;
    }
    i {
        user-select: none;
        margin-top: 4px;
    }
    .active_page {
        background-color: #3386af7d;
        border: 1px solid #3386afa1;
    }
}