*[display-flex]{
    display: flex
}
*[text-align-center]{
    text-align: center
}
*[color-white]{
    color: white
}
*[margin-bottom-10]{
    margin-bottom: 10px
}
*[width-percent-50]{
    width: 50%
}
*[width-percent-60]{
    width: 60%
}
*[margin-top-15]{
    margin-top: 15px !important
}
*[margin-auto]{
    margin: auto !important
}
*[margin-top-20]{
    margin-top: 20px !important
}
*[float-right]{
    float: right
}
*[display-block]{
    display: block
}
*[text-align-center]{
    text-align: center
}
*[width-percent-95]{
    width: 95%
}
*[width-percent-100]{
    width: 100%
}
*[font-size-18]{
    font-size: 18px
}
*[project-color-shade]{
    color: #005056fa;
}
*[cursor-pointer]{
    cursor: pointer
}
*[width-percent-46]{
    width: 46%;
}
*[width-percent-97]{
    width: 97%
}
*[width-percent-30]{
    width: 30%;
}
*[padding-0-15]{
    padding: 0px 15px
}
*[width-percent-20]{
    width: 20%
}
*[padding-0-3]{
    padding: 0px 3px
}
*[color-greenblue]{
    color: #009688
}
*[color-red]{
    color: #ce564d
}
*[width-percent-30]{
    width: 30%
}
*[padding-0-5]{
    padding: 0px 5px;
}
*[margin-auto-0]{
    margin: auto 0
}
*[cursor-pointer]{
    cursor: pointer
}
*[margin-top-20]{
    margin-top: 20px
}
*[padding-10-0]{
    padding: 10px 0px
}
*[font-weight-600]{
    font-weight: 600
}
*[padding-5-0]{
    padding: 5px 0px
}
*[width-percent-40]{
    width: 40%
}
*[padding-0-90]{
    padding: 0px 90px
}
*[width-percent-20]{
    width: 20%
}
*[width-percent-80]{
    width: 80%
}
*[width-percent-90]{
    width: 90%;
}
*[padding-top-25]{
    padding-top: 25px
}
*[width-70]{
    width: 70px;
}
*[font-size-13]{
    font-size: 13px
}
*[padding-0-5]{
    padding: 0px 5px
}
*[font-size-15]{
    font-size: 15px;
}
*[width-fit-content]{
    width: fit-content
}
*[margin-auto]{
    margin: auto
}
*[width-170]{
    width: 170px
}
*[padding-right-10]{
    padding-right: 10px
}