.content{
    .container{
        p{
            font-size: 20px;
        }
        input[type=submit]{
            width: 70px;
            color: white;
            padding: 5px 0px;
            margin: auto;
            border: none;
            cursor: pointer;
        }
        .buttons{
            margin-top: 40px;
            display: flex;
            .confirm{
                background-color: #5ca7a0;
                float: left;
            }

            .reject{
                background-color: #b3636a;
                float: right;
            }
        }
    }
}