<div class="content">
    <div class="container">
        <p text-align-center>{{'doYouConfirmThisOperation' | translate}} </p>
        <div class="buttons">
            <input type="submit" class="confirm" value="{{'yes' | translate}}" (click)="onClickYes()">
            <input type="submit" class="reject" value="{{'no' | translate}}" (click)="onClickNo()">
        </div>
    </div>
</div>