/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "src/app/com/annaniks/styles/variables.scss";

.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a{
    background: #f0f0f0 !important;
    color: #666 !important;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2) !important
}

.pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-header .pcoded-left-header, .pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-navbar {
    width: 350px;
}
.md-tabs .nav-item.open .nav-link, .md-tabs .nav-item.open .nav-link:focus, .md-tabs .nav-item.open .nav-link:hover, .md-tabs .nav-link.active, .md-tabs .nav-link.active:focus, .md-tabs .nav-link.active:hover {
    color: #3386afa1 !important;
}
body[themebg-pattern="theme1"] {
    background-color: #ffffff;
}
.page-item.active .page-link {
    background-color: #fff8e4;
    border-color: #dee2e6;
    color: #b3bdc1;
}
.page-link {
    color: #b3bdc1;
}
.page-link:hover {
    color: #b3bdc1;
}


.pagination {
    margin: 20px 0;
 
}
body{
    min-width: 1020px
}

  .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #808080cc !important;
} 
.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    color: #f48227 !important;
} 
 .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #808080cc !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: #808080cc !important;
}
.mat-form-field .mat-focused .mat-form-field-label{
    background-color: #808080cc !important
}
 .mat-form-field .mat-focused .mat-form-field-label .ng-touched{
    background-color: #808080cc!important
}
mat-form-field .mat-form-field .ng-tns-c2-0 .mat-primary .mat-form-field-type-mat-input .mat-form-field-appearance-legacy .mat-form-field-can-float .mat-form-field-hide-placeholder .ng-touched .ng-dirty .mat-form-field-should-float .ng-valid .mat-focused{
    background-color: #808080cc !important
}
 .mat-form-field-label .ng-tns-c2-0 .ng-star-inserted .mat-empty .mat-form-field-empty{
    background-color: #808080cc !important;
}
 mat-form-field{
    .mat-form-field-wrapper{
        .mat-form-field-flex{
            .mat-form-field-infix{
                .mat-form-field-label-wrapper{
                    .mat-form-field-label .ng-tns-c2-0 .ng-star-inserted {
                        background-color: #808080cc !important;
                    }

                }
            }
        }
        .mat-form-field-can-float{
            color: #f48227 !important
        }
    }

}
 .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: #f48227 !important
}
.mat-form-field.mat-focused .mat-form-field-label{
    color:#f48227 !important;
}
    .mat-input-element{
        caret-color:#f48227;
    }
    .mat-form-field-outline-thick{
        color:#f48227 !important;
    }
    .mat-form-field-label{
        color:#808080cc !important;
    }

 .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #808080cc
}

    @media (orientation: landscape){
        .mat-datepicker-content-touch .mat-calendar {
           width: 30vh !important;
           height: 45vh !important;
       }
  }
.mat-calendar-header {
    padding: 8px  !important;
    margin-bottom: 15px !important;
    background: #3386afa1 !important
}
.mat-calendar-body-selected {
    background-color: #3386afa1 !important;
    color: #fff;
}
.mat-calendar-controls {
    button{
        color: #fff
    }
}
.mat-calendar-arrow {
    border-top-color: #fff
}
.mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle {
    color: #fff
}
mat-spinner{
    margin:auto;
    height: 30px !important;
    width: 30px !important;
    svg{
        width: 30px !important;
            height: 30px !important;
     circle {
        stroke: grey !important;
    }
}}

 .timepicker__header {
    background-color: #72b2d2f7  !important;
}
 .clock-face__number span.active {
    background-color: #72b2d2f7  !important;
    color: white !important;
}

.md-tabs .nav-item.open .nav-link, .md-tabs .nav-item.open .nav-link:focus, .md-tabs .nav-item.open .nav-link:hover, .md-tabs .nav-link.active, .md-tabs .nav-link.active:focus, .md-tabs .nav-link.active:hover {
    color: #3386afc7 !important;
}
.md-tabs .nav-item a {
    padding: 20px 0;
    color: #768186;
}
body a{
    color: #666 !important
}
.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active:hover>a, .pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a, .pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.pcoded-trigger:hover>a, .pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.pcoded-trigger>a, .pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li:hover:hover>a, .pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li:hover>a {
    background: #f0f0f0 !important;
    color: #666 !important;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2) !important
   
}
body{
    color: #676767
}
 .ui-datepicker table td  a.ui-state-active {
    color: #ffffff !important;
    background-color: #f48227 !important;
}

